<h1>{{title}}</h1>

<form class="form-horizontal">
    <fieldset>
        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="name">Name</label>
            <div class="col-md-4">
                <input id="name" name="name" placeholder="Arthur Dent" class="form-control input-md" type="text">

            </div>
        </div>

        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="age">Age</label>
            <div class="col-md-4">
                <input id="age" name="age" placeholder="42" class="form-control input-md" type="text">

            </div>
        </div>

        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="major">Major</label>
            <div class="col-md-4">
                <input id="major" name="major" placeholder="Tea Enthusiast" class="form-control input-md" type="text">

            </div>
        </div>

        <!-- Multiple Radios -->
        <div class="form-group">
            <label class="col-md-4 control-label" for="classYear">Class Standing</label>
            <div class="col-md-4">
                <div class="radio">
                    <label for="classYear-0">
                        <input name="classYear" id="classYear-0" value="freshman" checked="checked" type="radio"> Freshman
                    </label>
                </div>
                <div class="radio">
                    <label for="classYear-1">
                        <input name="classYear" id="classYear-1" value="sophomore" type="radio"> Sophomore
                    </label>
                </div>
                <div class="radio">
                    <label for="classYear-2">
                        <input name="classYear" id="classYear-2" value="junior" type="radio"> Junior
                    </label>
                </div>
                <div class="radio">
                    <label for="classYear-3">
                        <input name="classYear" id="classYear-3" value="senior" type="radio"> Senior
                    </label>
                </div>
            </div>
        </div>

        <!-- Button -->
        <div class="form-group">
            <label class="col-md-4 control-label" for="submit">Panic?</label>
            <div class="col-md-4">
                <button id="submit" name="submit" class="btn btn-primary">Don't</button>
            </div>
        </div>

    </fieldset>
</form>
